#textForm1::part(header) {
	font-size: 32px;
}

#textForm4::part(header) {
	font-size: 32px;
}
#textForm4::part(header):hover {
	color: black;
}
#textForm4::part(text-style) {
	color: gray;
}
